:root {
  --fontTxt: "Montserrat", sans-serif;
  --txtClr: rgba(22, 22, 22, 0.85);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  font-family: var(--fontTxt);
  color: var(--txtClr);
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;  
}

p.footer {
  display: inline-block;
  font-size: 14px;
  padding: 5px;
  position: relative;
  text-align: center;
  opacity: 80%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input.middle {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

